page-works {
    .card-md {
        margin: 8px;
        float: left;
        width: calc(50% - 16px);
        height: 20vh;
        border-radius: 8px;
        text-align: center;
        -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .card-md + ion-card {
        margin-top: 8px;
    }

    .card-content-md {
        padding: 0;
        font-size: 1.2rem;
        line-height: 1.5;
        clip-path: inset(0px 0px 0px 0px round 0);
        height: 100%;
    }

    .card-content-md > span{
        margin: 10px 14px;
        color: color($colors, primary);
        display: block;
        font-weight: 600;
        height: 30px;
    }

    #contChemistry{
        background-image: url('../../assets/imgs/wave1.png');
        // background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -10vh;
        background-position-x: 0px;
    }
    #contBiology{
        background-image: url('../../assets/imgs/wave2.png');
        // background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -10vh;
        background-position-x: -10px;
    }
    #contHistory{
        background-image: url('../../assets/imgs/wave3.png');
        // background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -10vh;
        background-position-x: -20px;
    }
    #contMathematics{
        background-image: url('../../assets/imgs/wave4.png');
        // background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -10vh;
        background-position-x: -70px;
    }
    #contEnglish{
        background-image: url('../../assets/imgs/wave5.png');
        // background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -10vh;
        background-position-x: -40px;
    }

    @keyframes bounce {
        0% { transform: scale(0); opacity: 0 }
        50% { transform: scale(1); opacity: 1 }
        60% { transform: scale(0.7)}
        80% { transform: scale(1.1)}
        100% { transform: scaleY(1)}
      }

      .archiveit, .archiveit:hover, .archiveit.active, .archiveit.activated {
        overflow: hidden;
        height: 3rem;
        font-size: 1.3rem;
        font-weight: 500;
        text-transform: none;
        color: color($colors, primary);
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      ion-icon {
        display: inline-block;
        font-size: 3.2rem;
        color: color($colors, primary);
    }

    .status{
        position: relative;
        color: color($colors, primary);
        display: block;
        font-weight: 600;
    }
}
