page-works {
    .card-md {
        margin: 8px;
        float: left;
        width: calc(50% - 16px);
        height: 22vh;
        border-radius: 8px;
        text-align: center;
        -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .card-md + ion-card {
        margin-top: 8px;
    }

    .card-content-md {
        padding: 0;
        font-size: 1.2rem;
        line-height: 1.5;
        clip-path: inset(0px 0px 0px 0px round 0);
    }

    .card-content-md > span{
        margin: 10px 14px;
        color: color($colors, primary);
        display: block;
        font-weight: 600;
    }


}
