page-todo {
    ion-header {
        height: 150px;
        background-image: 
        url('../../assets/imgs/topo-tasks.png'), 
        linear-gradient(to top right,#AC5E98,#6B63D3);
        background-size: cover;
        background-position: center;
      }

      .bar-button-default-md {
        color: #6900c7;
    }

    .toolbar-background-md, .toolbar-background-ios {
        border-color: transparent !important;
        background: transparent !important;
    }

    h3 {
        color: #6900c7;
        margin: 0 16px;
        font-size: 2rem;
        font-weight: 500;
        width: 130px;
      }

      .listOption{
          background-color: transparent;
          border: 1px solid #F6F6F6 !important;
      }
      .list-md ion-item-options {
        border-bottom: 1px solid #F6F6F6;
      }

      .item-md {
        padding-left: 0;
        border: 1px #F6F6F6 solid;
      }

      .item-md p {
          font-size: 1.3rem;
      }

      .list-md > .item-wrapper:last-child ion-label {
        border-bottom: 1px;
        //margin-left: 35px;
        margin: 0;
    }

    .checkDone, .checkDone:hover, .checkDone.active, .checkDone.activated{
      background-color: #FCFBFC;
      box-shadow: none;
      margin: 0;
      border-radius: 0;
      height: 100%;
      width: 100%;
      border-right: 1px solid #F6F6F6;
    }

    .col{
      padding: 0 !important;
    }

    [col-9] {
      margin: 20px 10px;
    }

    // .fab {
    //   border-radius: 0;
    //   width: 54vh;
    //   height: 40px;
    // }

    .doneItem{
      padding-left: 0;
      border: 1px #F6F6F6 solid;
      background-color: rgba(39, 166, 153, 0.2);
      text-decoration: line-through;
      color: #BBB; 
    }
    .doneItem p, .doneItem h3{
      color: #BBB;
    }
}
