// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.content-md {
    color: color($colors, textdark);
    background-color: color($colors, branco);
}

.no-scroll .scroll-content{
    overflow: hidden;
  }

//   ion-tabs ion-tab > .ion-page { 
//     animation: fadeIn 1s 1 forwards;
//   }
//   @keyframes fadeIn {
//     0% {
//       opacity: 0;
//       //transform: translate3d(0, 2vh, 0);
//     }
//     100% {
//       opacity: 1;
//       //transform: translate3d(0, 0, 0);
//     }
//   }

::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
border-radius: 10px!important;
background-color: color($colors, branco)!important;
}

::-webkit-scrollbar
{
width: 7px!important;
height: 7px!important;
background-color: #F5F5F5!important;
}

::-webkit-scrollbar-thumb
{
border-radius: 10px!important;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)!important;
background-color: #DDD!important;
}

.tabs-md .tabbar {
    background: color($colors, primary);
    bottom: 0;
    padding: 0 2px;
}

.tabs-md .tab-button-icon {
    font-size: 2.2rem;
    color: color($colors, branco);
}


.tabs-md .tab-button {
    min-height: 5.1rem;
    font-weight: normal;
    color: color($colors, branco);
    padding: 0;
}

.tabs-md .tab-button[aria-selected=true] {
    min-height: 8rem;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: color($colors, primary);
    -webkit-transform: translate3d(0, -9px, 0);
    transform: translate3d(0, -9px, 0);
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon:before {
    width: 29px;
    height: 29px;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon:after {
    content: ' \25CF';
    font-size: 62px;
    color: color($colors, branco);
    position: absolute;
    z-index: -9;
    left: -4px;
    top: -21px;
    animation: bounce .8s 0s;
    transform: scale(1);
}

.tabs-md .tab-button[aria-selected=true]::after {
    content: ' \25CF';
    font-size: 100px;
    color: color($colors, primary);
    position: absolute;
    z-index: -1;
    top: -45px;
    animation: bounce .8s 0s;
}

@keyframes bounce {
    0% { transform: scale(0); opacity: 0 }
    50% { transform: scale(1); opacity: 1 }
    60% { transform: scale(0.6)}
    80% { transform: scale(1.1) }
    100% { transform: scaleY(1)}
  }

.tabs-md .tab-button-text{
    font-size: 1.2rem;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-text{
    animation: bounce2 .8s 0s;
    transform: scale(1) translate3d(0, -5px, 0) ;
    opacity: 1;
    color: color($colors, branco);
}

@keyframes bounce2 {
    0% { transform: scale(0); opacity: 0 }
    50% { transform: scale(1); opacity: 1 }
    60% { transform: scale(0.6) translate3d(0, -5px, 0) }
    80% { transform: scale(1.1) translate3d(0, -6px, 0) }
    100% { transform: scale(1) translate3d(0, -5px, 0) }
  }

.tabs-md .tab-button .tab-button-text{
    opacity: 0;
    transform: scale(0) translate3d(0, 20px, 0);
}

.tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text{
    margin-top: 0px;
}


.footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    top: -2px;
    bottom: auto;
    background-position: left 0 top 0;
    height: 15px;
    background-color: color($colors, branco);
}

.tabs-md[tabsPlacement="bottom"] > .tabbar::before{
    background-image: none;
}


/*TOP*/
.toolbar-background-md, .toolbar-background-ios {
    border-color: color($colors, primary);
    background: color($colors, primary);
}

.toolbar-ios{
    height: 60px;
    padding: 0px;
}
.toolbar-title-md {
    padding: 4px;
    font-size: 2rem;
    color: color($colors, branco);
    margin: 10px 0 0 20px;
    animation: pulse 1.5s;
}

.toolbar-title-ios {
    color: color($colors, branco);
    margin-top: 20px;
    animation: pulse 1.5s;
}

@keyframes pulse {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.toolbar-ios ion-title {
    left: 0px;
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateZ(0px);
    pointer-events: none;
    padding: 0px 5px 5px;
}

/*MODAL ADD FORMS*/
.cont-modal{
    width: 100%;
    height: 100%;
    background: rgba(0, 5, 8, 0.5);
  }
  
  .mymodal{
    background-color: #fff;
    border-radius: 2%;
    box-shadow: #444 0px 2px 10px 0px;
    position: absolute !important;
    width: 100% !important;
    height: 60vh !important; 
    top: 20% !important;
    left: 0 !important;
    // padding: 6px 14px;
  }

  .big-mymodal{
    background-color: #fff;
    border-radius: 2%;
    box-shadow: #444 0px 2px 10px 0px;
    position: absolute !important;
    width: 100% !important;
    height: 100vh !important; 
    top: 0 !important;
    left: 0 !important;
    // padding: 6px 14px;
  }
  
  .close{
    position: absolute !important;
    top: 2px;
    right: 3px;
    border-radius: 5%;
    background-color: transparent;
    color: #CCC;
    padding: 5px;
    width: 30px;
    font-size: 30px;
  }

  .big-close{
    position: absolute !important;
    top: 20px;
    right: 3px;
    border-radius: 5%;
    background-color: transparent;
    color: #CCC;
    padding: 5px;
    width: 30px;
    font-size: 30px;
  }
  
  .modal-header{
    width: 100%;
    height: 10vh;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    position: absolute !important;
    top:0;
    padding: 5px 15px 0 15px;
    text-align: center;
    color: color($colors, secondary);
  }
  
  .min{
    height: 100px;
  }
  .modal-title{
    margin-top: 7px;
    font-weight: 600;
    font-size: 1.7rem;
  }

  .big-modal-title{
    margin-top: 25px;
    font-weight: 600;
    font-size: 1.7rem;
  }
  
  .modal-body{
    position: absolute !important;
    top: 10vh;
    padding: 8px;
    width: 100%;
    height: 50vh;
  }

  .big-modal-body{
    position: absolute !important;
    top: 10vh;
    padding: 8px;
    width: 100%;
    height: 90vh;
  }


  .maior{
    top: 102px;
  }
  .listada{
    width: 240px;
    margin-top: 15px;
  }
  
  [show]{
    display: block !important;
  }

  h2.alert-title {
    margin-bottom: 10px !important;
    border-bottom: 2px solid #F6F6F6 !important;
    color: color($colors, textlight) !important;
  }

  .alert-md .alert-radio-label {
    white-space: pre-line !important;
    color: color($colors, textlight);
  }


