page-calendar {

  [col-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 14.285714285714286%;
    width: 14.285714285714286%;
    max-width: 14.285714285714286%;
  }
  .col {
    text-align: center;
    padding: 5px;
  }
  .last-month, .next-month {
    color: #999999;
    font-size: 90%;
  }
  .currentDate, .otherDate {
    padding: 5px;
  }
  .currentDate {
    font-weight: bold;
    background-color: color($colors, secondary);
    color: color($colors, branco);
    border-radius: 22%;
  }
  .calendar-header {
    background-color: color($colors, primary);
    color: color($colors, branco);
    font-weight: 600;
    padding: 0;
  }
  .event-bullet {
    margin: 2px auto;
    height: 5px;
    width: 5px;
    background-color: green;
    border-radius: 30px;
  }
  .selected-date {
    width: 20px;
    height: 2px;
    background-color: blue;
  }
  .unselected-date {
    border: none;
  }
  .calendar-body {
    .grid {
      padding: 0;
    }
    .col:last-child {
      border-right: none;
    }
    .calendar-weekday, .calendar-date {
      text-align: center;
      margin: 0;
    }
    .calendar-weekday {
      border-bottom: solid 1px color($colors, primary);
      background-color: #6900c7;
      color: color($colors, branco);
      font-weight: normal;
      line-height: 1rem;
      font-size: 1.3rem;
    }
    .calendar-date {
      border-top: solid 1px color($colors, primary);
      border-bottom: solid 1px color($colors, primary);
    }
  }
}
