<loading-spinner *ngIf="showSpinner"></loading-spinner>
<ion-list>
  <ion-item text-wrap *ngFor="let abs of absences | async">
    <ion-row>
      <ion-col col-8>
        <h3>Absence in {{ abs.subject }}</h3>
        <p>On {{ abs.date | date: 'MM/dd/yyyy' }}</p>
      </ion-col> 
      <ion-col col-3>
        <button ion-button class="goJustify" (click)="goJustify(abs)">
            <ion-icon name="arrow-dropright" color="secondary" class="arrow"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-list>
