
  <ion-segment [(ngModel)]="selectedDay">
    <ion-segment-button *ngFor="let day of weekdays" value={{day.name}} (ionSelect)="segments($event)">
      {{day.id}}
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="selectedDay" *ngFor="let days of weekdays">
		<div *ngSwitchCase="days.name">
      <loading-spinner *ngIf="showSpinner"></loading-spinner>
      <ion-list *ngFor="let tmtb of timeTable | async; let i=index;">
        <ion-item text-wrap>
          <ion-row> 
            <ion-col col-2>
              <span class="numbers">
                {{tmtb.number}}
              </span>
            </ion-col>
            <ion-col col-10>
              <h3>{{tmtb.subject}} <span>{{tmtb.time}}</span></h3>
              <p>{{tmtb.teacher}}</p>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </div>

  </div>
