page-furlough {
    div .fixed-content, 
  ion-content .fixed-content{margin-top:170px;}

  .scroll-content {
      margin-top: 170px !important;
      padding: 12px !important;
  }

    ion-header {
        height: 170px;
        background-image: 
        url('../../assets/imgs/topo-grades.png'), 
        linear-gradient(to top right,#AC5E98,#6B63D3);
        background-size: cover;
        background-position: center;
      }

      .bar-button-default-md {
        color: #6900c7;
    }

    .toolbar-background-md, .toolbar-background-ios {
        border-color: transparent !important;
        background: transparent !important;
    }

    h3 {
        color: #6900c7;
        margin: 0 16px;
        font-size: 1.7rem;
        font-weight: 500;
        width: 130px;
      }
      #subtitle {
        color: #6900c7;
        padding: 0 16px;
        font-size: 1.3rem;
        font-weight: 500;
        width: 100%;
        position: absolute;
        bottom: 7px;
        margin-block-start: 0;
        margin-block-end: 0;
      }

      .segment-md {
        margin: 8px auto 5px;
        border: 1px solid color($colors, primary);
        border-radius: 10px;
      }

      .segment-md .segment-button{
        color: color($colors, primary);
        text-transform: none;
        padding: 0 3px;
        font-size: 1.3rem;
        font-weight: normal;
      }
      .segment-md .segment-button.segment-activated {
        border-color: color($colors, primary);
        opacity: 1;
        color: white;
        background-color: color($colors, primary);
      }

      .segment-md .segment-button.segment-activated:first-child{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      .segment-md .segment-button.segment-activated:nth-child(4){
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      ion-select {
        max-width: 100% !important;
        width: 100% !important;
      }

      button {
        border: 1px solid color($colors, primary);
        border-radius: 10px;
      }

     .select-text {
        white-space: pre-line;
      }

      .list-header-md {
        padding-left: 10px;
        margin-bottom: 0;
        min-height: 4.5rem;
        border-top: none;
        font-size: 1.4rem;
        color: color($colors, primary);
    }
}
